<div class="d-flex flex-wrap justify-content-center  " >
    <div class="card size mt-5 shadow-sm border border-muted fadeIn mb-3 animate__animated animate__fadeInRight">
        <div class="card-title p-3 border-bottom d-flex justify-content-between ">
            <h3>کاربر جدید</h3>
            <button class="btn border rounded-circle" (click)="back()"  > <i class="fa fa-arrow-left"></i></button>
        </div>

        <div class="card-body p-0 py-3">
            
         <div class="container">
            <form>

                    
                        <div class="mb-3">
                        <label for="inputName" class="col-form-label">نام</label>
                        <input type="text" class="form-control" name="inputName" id="inputName" >
                        </div>

                        <div class="mb-3">
                        <label for="inputName" class="col-form-label">نام خانوادگی</label>
                        <input type="text" class="form-control" name="inputName" id="inputName" >
                        </div>

                        <div class="mb-3">
                        <label for="inputName" class="col-form-label">نام کاربری</label>
                        <input type="text" class="form-control" name="inputName" id="inputName" >
                        </div>
              
                        <div class="mb-3">
                        <label for="inputName" class="col-form-label">رمز عبور</label>
                        <input type="text" class="form-control" name="inputName" id="inputName" >
                        </div>
                <input type="button" value="ثبت" class="btn green text-white w-25 " >
               
            </form>
         </div>
        </div>
    </div>
   </div>

