<div class="d-flex flex-wrap justify-content-center  " >
    <div class="card w-75 mt-5 shadow-sm border border-muted fadeIn mb-3 animate__animated animate__fadeInRight">
        <div class="card-title p-3 border-bottom d-flex justify-content-between ">
            <h3>کالا جدید</h3>
            <button class="btn border-0" (click)="back()"  > <i class="fa fa-arrow-left fa-lg"></i></button>
        </div>

        <div class="card-body p-0 py-3">
            
         <div class="container">
            <!-- <form> -->
                       <div class="row mb-3">

                        <div class="col-4">
                            <label for="inputName" class="col-form-label">کد کالا</label>
                            <input type="text" class="form-control" name="inputName" id="inputName" [(ngModel)]="goods.goodsCode" >
                            </div>

                        <div class="col-4">
                        <label for="inputName" class="col-form-label"> نام کالا</label>
                        <input type="text" class="form-control" name="inputName" id="inputName" [(ngModel)]="goods.name" >
                        </div>

                        <div class="col-4">
                        <label for="inputName" class="col-form-label">گروه کالا</label>
                        <select class="form-select" [(ngModel)]="goods.groupId" >
                            <option *ngFor="let group of groups" [value]="group.id">{{group.name}}</option>
                          </select> 
                        </div>

                       
                        </div>

                        <div class="row mb-3">
                            <div class="col-4">
                                <label for="inputName" class="col-form-label">واحد کالا</label>
                                <select class="form-select" [(ngModel)]="goods.unitId">
                                    <option *ngFor="let unit of units" [value]="unit.id">{{unit.name}}</option>
                                  </select> 
                                </div>
    
                            <div class="col-4">
                            <label for="inputName" class="col-form-label"> مدل</label>
                            <input type="text" class="form-control" name="inputName" id="inputName" [(ngModel)]="goods.model">
                            </div>
    
                            <div class="col-4">
                            <label for="inputName" class="col-form-label">توضیحات</label>
                            <input type="text" class="form-control" name="inputName" id="inputName" [(ngModel)]="goods.description">
                            </div>
                            </div>
                <div class="d-flex justify-content-end">
                    <button type="button"  class="btn green text-white w-25  " (click)="createGoods()" >ثبت</button>
                </div>
               
            <!-- </form> -->
         </div>
        </div>
    </div>
   </div>

