<div class="offcanvas offcanvas-start border-0 " id="demo" style="width: 300px;">
    <div class="offcanvas-header border-bottom d-flex">
<div class="position-relative ">

<img src="assets/image/img_avatar1.png" alt="Avatar Logo" style="width:80px;" class=" offcanvas-title rounded-3 shadow-sm "> 
<span class="position-absolute top-0 start-100 translate-middle p-2  rounded-circle bg-success" >
<span class="visually-hidden">New alerts</span>
</span>

</div>


<div class="flex-grow-1">
<!-- <p class="mb-0 ps-1 text-dark">name last name</p>
<p class="mt-0 ps-1 text-muted">name last name s</p> -->
</div>



      <button type="button" class="btn-close border-0 " data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body  ">

      <div class="d-grid">
        <a class="btn rounded p-3 text-white text-start" [routerLink]="['users']"  style="background-color: rgba(255, 99, 71, 0.5);border: 1px solid tomato;">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-user fa-stack-1x " style="color:coral"></i> 

          </span> مدیریت کاربران
          </a>
      </div>
      <div class="d-grid mt-2">
        <a class="btn rounded p-3 text-white text-start" [routerLink]="['warehouses']" style="background-color: rgba(255, 99, 71, 0.5);border: 1px solid tomato;">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-truck fa-stack-1x " style="color:coral"></i> 

          </span>
          مدیریت انبار
          </a>
      </div>
      <div class="d-grid mt-2">
        <a class="btn rounded p-3 text-white text-start" [routerLink]="['goods']" style="background-color: rgba(255, 99, 71, 0.5);border: 1px solid tomato;">

          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-cube fa-stack-1x " style="color:coral"></i> 

          </span>

          مدیریت کالا
          </a>
      </div>
      <div class="d-grid mt-2">
        <a class="btn rounded p-3 text-white text-start" [routerLink]="['receipts']" style="background-color: rgba(255, 99, 71, 0.5);border: 1px solid tomato;">
          <span class="fa-stack">
            <i class="fa fa-circle fa-stack-2x "></i>
            <i class="fa fa-file-text-o fa-stack-1x " style="color:coral"></i> 

          </span>

          مدیریت رسید ها
          </a>
      </div>
    </div>
  </div>
