<nav class="navbar navbar-expand-sm bg-white  shadow " >
    <div class="container-fluid">
        
      <ul class="navbar-nav">
        <li class="nav-item ">
            <button class="btn border-0 text-white" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
                <span class="navbar-toggler-icon " style=""></span>
              </button>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="#">Link 2</a>
        </li>
        
      </ul>
      
      <div class="dropdown " dir="ltr">

        <button type="button" class="btn dropdown-toggle border-0" data-bs-toggle="dropdown">
            <img src="assets/image/img_avatar1.png" alt="Avatar Logo" style="width:40px;" class="rounded-pill shadow-sm"> 
        </button>
        <ul class="dropdown-menu dropdown-menu-end shadow border-0" >
          <li><a class="dropdown-item" href="#">Link 1</a></li>
          <li><a class="dropdown-item" href="#">Link 2</a></li>
          <li><a class="dropdown-item" href="#">Link 3</a></li>
        </ul>
      </div> 
    </div>
  </nav>
