<div class="d-flex flex-wrap justify-content-center align-content-center border "  style="height: 100vh;" >
    <div class="card login  shadow-sm border-0 rounded-4" >
        <div class="card-title d-flex justify-content-center  border-bottom p-2" >
            <p>login</p>
            
        </div>

        <div class="card-body ">
            <form action="" method="post">
                <div class="mb-3 ">
                    <label for="username" class="form-label">username :</label>
                    <input type="text" class="form-control py-2" id="username" placeholder="username" name="username">
                  </div>
                  <div class="mb-3 mt-3">
                    <label for="password" class="form-label">username :</label>
                    <input type="password" class="form-control py-2" id="password" placeholder="password" name="password">
                  </div>
                  <div class="mb-3 mt-3 d-flex justify-content-end">
                    <input type="submit" value="login" class="btn btn-primary border-0" style="width: 150px;background-color:coral;">
                  </div>
            </form>
        </div>
    </div>
   </div>
