/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'shabnam';
    src: url('assets/font/Shabnam.ttf')  format('truetype'), /* Safari, Android, iOS */
         
}

* {
    font-family: 'shabnam';
}



html , body{
    background-color: #fbfbfb;
}


.table-card{
    min-width: 75%;
}


.bg-red{
    background-color:coral;
}